{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}

{% block content %}




<div class="container text-center " style="margin-top: 200px;">
 
  <p class="quote" style="color: white;">"Discover the enchanting magic 
      of our products - where impeccable quality meets
      affordability, and every purchase spreads joy with 
      a touch of kindness. Join us in making a  difference
    as a portion of every sale goes towards supporting charitable causes."<p>
 
  <a href="{{url_for('Market_page')}}" class="btn btn-primary btn-hover-effect" style="margin-top: 25px;">Shop Now</a>
</div>


{% endblock %}